.overlap-wrapper {
  height: 346px;
  left: 0;
  position: absolute;
  top: 3319px;
  width: 1922px;
}

.overlap-wrapper .overlap-4 {
  background-color: #f3f4f6;
  height: 346px;
  position: relative;
  width: 1920px;
}

.overlap-wrapper .group-8 {
  height: 20px;
  left: 822px;
  position: absolute;
  top: 286px;
  width: 252px;
}

.overlap-wrapper .text-wrapper-21 {
  color: #4b5563;
  font-family: "SUIT-Medium", Helvetica;
  font-size: 15.7px;
  font-weight: 500;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.overlap-wrapper .subtract-wrapper {
  border: 1.51px solid;
  border-color: #4b5563;
  border-radius: 8.57px;
  height: 17px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 17px;
}

.overlap-wrapper .subtract {
  height: 10px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 9px;
}

.overlap-wrapper .group-9 {
  height: 34px;
  left: 808px;
  position: absolute;
  top: 32px;
  width: 304px;
}

.overlap-wrapper .twitter {
  height: 34px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 34px;
}

.overlap-wrapper .facebook {
  height: 33px;
  left: 90px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 33px;
}

.overlap-wrapper .instagram {
  height: 34px;
  left: 179px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 34px;
}

.overlap-wrapper .image-4 {
  height: 34px;
  left: 269px;
  position: absolute;
  top: 0;
  width: 35px;
}

.overlap-wrapper .nonji {
  color: #4b5563;
  font-family: "SUIT-Medium", Helvetica;
  font-size: 21px;
  font-weight: 500;
  left: 616px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 110px;
}

.overlap-wrapper .group-10 {
  height: 26px;
  left: 788px;
  position: absolute;
  top: 232px;
  width: 349px;
}

.overlap-wrapper .text-wrapper-22 {
  color: #4b5563;
  font-family: "SUIT-Medium", Helvetica;
  font-size: 21px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.overlap-wrapper .text-wrapper-23 {
  color: #4b5563;
  font-family: "SUIT-Medium", Helvetica;
  font-size: 21px;
  font-weight: 500;
  left: 98px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.overlap-wrapper .text-wrapper-24 {
  color: #4b5563;
  font-family: "SUIT-Medium", Helvetica;
  font-size: 21px;
  font-weight: 500;
  left: 196px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}
