.frame-1 {
  display: flex;
  align-items: center;
  display: flex;
  gap: 10px;
  height: 68px;
  position: relative;
  width: 592px;  background-color: #fafcfe;
  border: none;
}

.frame_search {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 6px;
  padding: 22px 40px;
  position: relative;
  width: 592px;
  outline: none;  
  border: none;
}
.frame_search:focus{
  outline: none;
}

.frame-1 .password {
  color: #a3a8b2;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 19.6px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
